.pagination{
    display: flex;
    justify-content: center;
    color: white;
    margin: 0 auto;
    max-width: 500px;
}

nav{
    background: #c2c1c2;
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
}